<!-- Footer -->
<footer id="sticky-footer" class="page-footer font-small text-light bg-dark" style="margin-top: 4em;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row" style="margin-top: 4em;">

            <!-- Grid column -->
            <div class="col mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">OCHY</h5>

                <p style="margin-bottom: 2em;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula quam nec consequat
                    pulvinar.
                    Etiam non commodo nulla. Nullam eu volutpat orci. Maecenas dui arcu, dapibus vel tincidunt sit amet,
                    consectetur id purus.
                </p>

            </div>

            <!-- Grid column -->
            <div class="col mt-md-0 mt-3 mx-4">

                <h5 class="text-uppercase justify-content-start">Newsletter :</h5>

                <form class="input-group" style="width: 20em;">

                    <input type="text" class="form-control form-control-sm" placeholder="Your email"
                        aria-label="Your email" aria-describedby="basic-addon2">

                    <div class="input-group-append">

                        <button class="btn btn-sm btn-outline-light my-0 mr-2em" type="button">

                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-right"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.146 5.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 9l-2.647-2.646a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd"
                                    d="M3 2.5a.5.5 0 0 0-.5.5v4A2.5 2.5 0 0 0 5 9.5h8.5a.5.5 0 0 0 0-1H5A1.5 1.5 0 0 1 3.5 7V3a.5.5 0 0 0-.5-.5z" />
                            </svg>

                        </button>

                    </div>

                </form>

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">
            
            <!-- Grid column -->
            <div class="col mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Social Networks</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://facebook.com/" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://instagram.com/" target="_blank">Instagram</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">Twitter</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id=copyright href="">© 2020 Copyright: OCHY</div>
    <!-- Copyright -->
</footer>
<!-- Footer -->