<div class="card mx-auto" style="width: 20rem; margin-top: 10rem; margin-bottom: 13rem;">

    <article class="card-body">

        <a (click)="loginClick()" class="float-right btn btn-outline-dark">Sign up</a>

        <h4 class="card-title mb-4 mt-1">Sign in</h4>

        <p>
            <button class="btn btn-block btn-outline-primary">Se connecter avec Facebook</button>
            <button class="btn btn-block btn-outline-danger">Se connecter avec Google</button>
        </p>

        <hr>
        <form>

            <div class="form-group">
                <input name="" class="form-control" placeholder="Email or login" type="email">
            </div> <!-- form-group// -->

            <div class="form-group">
                <input class="form-control" placeholder="******" type="password">
            </div> <!-- form-group// -->

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" (click)="loginClick()">Se connecter</button>
                    </div> <!-- form-group// -->
                </div>

                <div class="col-md-6 text-right">
                    <small>Mot de passe oublié?</small>
                    <!-- <a class="small">Mot de passe oublié?</a> -->
                </div>

            </div> <!-- .row// -->

        </form>

    </article>

</div> <!-- card.// -->